.card {
    /* height: 450px; */
    min-height: 100%;
    /* max-width: 590px; */
    position: relative;
    box-shadow: 0 0 5px #2226;
    border-radius: 1em;
    padding: 1em;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-between;
    /* align-items: center; */
    font-family: 'Commissioner', Arial, Helvetica, sans-serif;
    background-color: #fff;
    font-size: 1.2em;
}
.card:hover {
    box-shadow: 0 0 25px #2226;
}
.card__heart {
    position: absolute;
    top: 0.4em;
    right: 0.7em;
    width: 1.8em;
    fill: crimson;
}
.discount {
    position: absolute;
    top: 0.5em;
    left: 1em;
    /* width: 2.3em; */
    /* font-size: 1em; */
    text-align: center;
    display: block;
    background-color: #cc4646;
    border-radius: 0.5em;
    padding: 0.10em 0.4em;
    color: #fff;
}
.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* padding: 5em; */
    margin-top: 2em;
}
.card img {
    /* display: block; */
    /* max-width: 100%; */
    height: 100%;
    border-radius: 1em;
    /* background-size: cover; */
    /* min-width: 100px; */
    /* height: 280px; */
    /* margin: 2em; */
    /* margin-top: 1em; */
}
.block-price {
    display: flex;
    flex-direction: column;
}
.price {
    font-size: 0.8em;
    color: #a5a5a5;
    text-decoration: line-through;
    font-weight: bold;
}
.price__discount {
    font-weight: bold;
}
.price__red {
    color: red;
}
.price__transparent {
    color: transparent;
}
.wight {
    font-size: 0.8em;
    color: #a5a5a5;
}
.name {
    /* height: 100%; */
    font-size: 1em;
}
.add__cart {
    display: flex;
    justify-content: center;
    /* margin-top: 1em; */
}
.add__cart button {
    width: 10em;
    height: 3em;
    border-radius: 1em;
    border: none;
    background-color: rgb(138, 80, 255);
    color: #fff;
    font-size: 0.6em;
}
.add__cart button:hover {
    /* background-color: rgb(255, 152, 115); */
    background-color: coral;
    /* opacity: 0.8; */
}