header {
    background-color:coral;
    color: #fff;
    font-family: 'ArtegraSoft-Regular', Arial, Helvetica, sans-serif;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em 0 0.5em;
}
.logo>a>svg {
    width: 6em;
}
.header__catalog .btn-catalog {
    width: 100%;
    background-color: rgb(231, 68, 9);
    border: #fff  solid 0.1em;
    border-radius: 0.6em;
    color: #fff;
    font-size: 1em;
    padding: 0.3em 0.8em;
}
.header__catalog .btn-catalog:hover {
        background-color: rgba(231, 68, 9, 0.3);
    }
.menu {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    color: black;
    font-size: 22px;
    font-weight: bold;
    color: rgb(138, 80, 255);
}
.header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    font-size: 20px;
    color: black;
}
.cart>a>svg {
    width: 1.8em;
    fill: yellow;
}
.favorites>a>svg {
    width: 1.8em;
    fill: yellow;
}

.header__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5em;
    margin-left: 4.2em;
}
.header__bottom h2 {
    font-family: 'ArtegraSoft-Black', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0.2em 0;
}
.header__bottom p {
    line-height: 1.2em;
}
.badge-link {
    position: relative;
}
.badge {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    font-size: 8px;
    position: absolute;
    bottom: -4px;
    right: -4px;
}