footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
    color: #fff;
    font-family: 'ArtegraSoft-Regular', Arial, Helvetica, sans-serif;
    /* padding: 2em 1em; */
}
.footer__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}
.logo {
    width: 120px;
    max-width: 120px;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer__contacts .contacts {
    font-family: 'ArtegraSoft-Black', Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.footer__socialnetwork {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}
/* .footer__mobile__copyright {
    display: none;
} */