footer {
    background-color: coral;
    color: #fff;
    font-family: 'ArtegraSoft-Regular', Arial, Helvetica, sans-serif;
}
.footer__container {
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    /* padding: 1em 0; */
    margin: 2em 0;
}
.footer__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__group h3 {
    font-family: 'ArtegraSoft-Black', Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.logo {
    width: 120px;
    max-width: 120px;
}
.socialnetwork {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    font-size: 2em;
}
.footer__mobile__copyright {
    display: none;
}