.search-block {
    position: relative;
    /* min-width: 350px; */
    width: 30%;
    display: flex;
    align-items: center;
    /* padding: 0 0 0 10em; */
}
.search-block>input {
    flex: 1;
    /* height: 30px; */
    /* width: 100%; */
    box-sizing: border-box;
    border-radius: 0.5em;
    border: 0.1em solid silver;
    /* font-size: 16px; */
    font-size: 1em;
    outline: none;
    /* padding: 6px 12px; */
    padding: 0.3em 0.5em;
}
.search-block>input:focus {
    border-color: rgb(243, 231, 5);
}
.search-block>button {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    /* width: 24px; */
    /* height: 20px; */
    width: 10%;
    /* height: 20px; */
}
.search-block>button>svg {
    height: 100%;
    fill: silver;
    cursor: pointer;
}
.search-block svg:hover {
    fill: rgb(243, 231, 5);
}
.search-result {
    position: absolute;
    /* top: 36px; */
    /* left: 12px; */
    /* font-size: 12px; */
    top: 4em;
    left: 1em;
    width: 100%;
    font-size: 0.6em;
}