.search-block {
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
}
.search-block>input {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: 0.1em solid silver;
    font-size: 1em;
    outline: none;
    padding: 0.3em 2em 0.3em 0.5em;
}
.search-block>input:focus {
    border-color: rgb(243, 231, 5);
}
.search-block>button {
    position: absolute;
    top: 0.25em;
    right: 0;
    background-color: transparent;
    border: none;
    height: 20px;
}
.search-block>button>svg {
    height: 100%;
    fill: silver;
    cursor: pointer;
}
.search-block svg:hover {
    fill: rgb(243, 231, 5);
}
.search-result {
    position: absolute;
    top: 4em;
    left: 1em;
    width: 100%;
    font-size: 0.6em;
}
@media (max-width: 600px) {
    .search-block>button {
        height: 15px;
    }
}
@media (max-width: 420px) {
    .search-block>button {
        height: 12px;
    }
}