body {
    margin: 0;
    font-family: 'ArtegraSoft-Regular', Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}
.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 18em auto 12em;
    font-size: 1.1em;
}
.wrapper>* {
    padding: 0 calc(50% - 30em);
}
main {
    background-image: url("./templates/Images/bg-dogfood-dogpaw.png");
    background-color: beige;
    background-size: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -3em 2em 1em;
}
.catalog-header {
    background-color: beige;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    gap: 1em;
    justify-content: center;
}
/* 3 */
@media (max-width: 1260px) {
    .wrapper {
        /* grid-template-rows: 17em auto 12em; */
        /* font-size: 1em; */
    }
    .wrapper>* {
        /* padding: 0 0.5em; */
    }
}
/*  ads */ 
@media (max-width: 998px) {
    .ads {
        font-size: 0.75em;
    }
}
/* 2 */
@media (max-width: 768px) {
    .wrapper {
        font-size: 0.9em;
    }
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}
/* 1 and Footer*/
@media (max-width: 720px) {
    .wrapper {
        grid-template-rows: 17em auto 12em;
        font-size: 0.9em;
    }
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .wrapper footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .wrapper footer .footer__group {
        display: none;
    }
    .footer__mobile {
        align-items: center;
    }
    .footer__contacts h3 {
        text-align: center;
    }
    .card .add__cart button {
        width: 15em;
        height: 4.5em;
        border-radius: 1em;
        border: none;
        /* background-color: coral; */
        /* color: #fff; */
    }
}
@media (max-width: 600px) {
    .wrapper {
        /* grid-template-rows: 17em auto 12em; */
        font-size: 0.65em;
    }
}
/* 1 */
@media (max-width: 420px) {
    .wrapper {
        grid-template-rows: 17em auto 12em;
        font-size: 0.55em;
    }
    .cards {
        /* grid-template-columns: repeat(1, 1fr); */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       }
    .card {
        font-size: 2em;
    }
    .card__img {
        padding: 2em;
    }
}
/* 1 */
/* @media (max-width: 420px) {
    .wrapper {
        font-size: 0.45em;
    }
} */
/* 1 */
@media (max-width: 350px) {
    .wrapper {
        font-size: 0.4em;
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.empty-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    /* height: fit-content; */
    width: 100%;
    /* width:fit-content; */
    padding: 1em;
    border-radius: 50%;
    /* background-color: #dededeaa; */
    /* background-color: rgb(255, 255, 255); */
    /* background-color: rgba(245, 245, 220, 1); */
    /* font-family: 'ArtegraSoft-Black', Arial, Helvetica, sans-serif; */
    font-family: 'Commissioner', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: coral;
    margin: -1em 2em 2em;

}
/* .empty-block>*:not(svg) {
    font-size: 1rem;
} */
.empty-block svg {
    font-size: 4rem;
    /* fill: #dedede; */
    /* fill: #000; */
    fill: coral;
}
.empty-block .empty-block__btn-main {
    /* border: 2px solid #000; */
    border: 2px solid coral;
    border-radius: 18px;
    display: flex;
    padding: 6px 12px;
}
.empty-block .empty-block__btn-main:hover {
    /* background-color: coral; */
    background-color: rgb(255, 127, 80, 0.4);
    /* background-color: rgb(250, 250, 250, 1); */
}
.empty-block>* {
    /* background-color: #d7d3ad; */
    background-color: rgba(245, 245, 220, 1);
    /* box-shadow: 0 0 3px #0006; */
    border-radius: 1em;
    /* padding: 0.1em; */
}
@font-face {
    font-family: "ArtegraSoft-Black";
    src: url("./templates/Fonts/ArtegraSoft-Black.ttf");
}
@font-face {
    font-family: "ArtegraSoft-Regular";
    src: url("./templates/Fonts/ArtegraSoft-Regular.ttf");
}

/* Для кнопок */
button.btn {
    /* width: 10em; */
    /* height: 3em; */
    /* border-radius: 1em; */
    /* border: none; */
    background-color: rgb(138, 80, 255);
    color: #fff;
    /* font-size: 0.6em; */
}
button.btn:hover {
    /* background-color: rgb(255, 152, 115); */
    background-color: coral;
    color: #000;
    /* opacity: 0.8; */
}
button.btnEdit {
    width: 40px;
    cursor: pointer;
    height: auto;
}

.form-container {
    /* width: 100%; */
    /* background-color: #fff; */
    margin: 1em 0 1em 0em;
    padding: 0em;
    /* display: flex; */
    /* flex-direction: column; */
    
    /* justify-content: center; */
    /* align-items: center; */
}
.form-container .h1 {
    /* width: 350px; */
    width: 96%;
    text-align: center;
    background-color: beige;
    /* border: 0.1em solid beige; */
    padding: 0.1em;
    border-radius: 0.5em;
    color: coral;
    font-weight: bold;
    box-shadow: 0 0 25px #2226;
    /* margin-left: -0.25em; */
}
.catalog.h1 {
    width: 92%;
    margin-left: 1em;
}
.form-col {
    /* style={{padding: "1em", backgroundColor: "white", borderRadius: "1em", boxShadow: "0 0 25px #2226"}} */
    padding: 1em;
    background-color: beige;
    border: 1px solid #dedede;
    border-radius: 1em;
    box-shadow: 0 0 15px #2226;
}
.form-col:hover {
    box-shadow: 0 0 25px #2226;
}
.form-preview {
    height: 106px;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
}